/* :root {
    --particle-color-primary: #3a3a3a;
    --particle-color-primary-dark: rgb(74, 74, 74);
}

[data-theme='dark'] {
    --particle-color-primary: #ffffff;
    --particle-color-primary-dark: #ffffff;
} */

.elysium-label {
    color: rgb(121, 123, 128);
    margin-top: 130px;
    text-align: center;
    word-spacing: 0.5rem;
    font-size: 30px;
    font-family: "Great Vibes", serif;
}

.elysium {
    color: #c08f65;
    text-align: center;
    font-size: 88px;
    letter-spacing: 1rem;
    font-family: "MonktonIncisedSolid", serif;
}

[data-theme='dark'] .elysium-label {
    color: rgb(185, 186, 195);
}

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');