/* styles.css */
.hover-link {
  display: inline-flex;
  transform: translateY(0.08em); /* 微调偏移 */
  position: relative;
  white-space: nowrap;
  text-decoration: none; /* 可选：去除下划线 */
}

.hover-link-wrapper {
  display: inline-block;
  position: relative;
  vertical-align: text-top; /* 保持与文字基线对齐 */
  line-height: 1; /* 重置行高 */
}

.hover-link-wrapper p {
  margin: 0;
  padding: 0;
}

.svg-overlay {
  display: inline-flex;
  position: fixed; /* 关键定位属性 */
  pointer-events: none;
  z-index: 9999;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  opacity: 0;
  animation: svg-appear 0.2s ease-out forwards;

  padding: 12px;
  background: rgba(222, 222, 222, 0.5);
  backdrop-filter: blur(4px);
  border-radius: 12px;
}

[data-theme="dark"] .svg-overlay {
  background: rgba(34, 34, 34, 0.5);
}

.hover-link:hover .svg-overlay {
  opacity: 1;
  transform: translateY(0);
}

.custom-svg {
  width: 600px;
  height: 200px;
  pointer-events: none;
  /* 添加需要的动画效果 */
}

@keyframes svg-appear {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 移动端禁用规则 */
@media (max-width: 768px), (hover: none) {
  .svg-overlay {
    display: none !important;
  }
  
  .hover-link:hover .svg-overlay {
    opacity: 0;
  }
}